.container {
  width: 100%;
  position: relative;
  user-select: none;
}

button {
  margin: 1px 0;
  width: 100%;
  text-shadow: 2px 2px 2px black;
  color: white;
  //Fixes touch screen scrolling bug for elements with tooltips https://github.com/angular/components/issues/4892
  touch-action: auto !important;
}

.extra-padding {
  padding: 0 26px;
}

.minus-button {
  position: absolute;
  fill: #aa3333;
  width: 20px;
  left: 4px;
  top: 9px;
  visibility: hidden;
}

.plus-button {
  position: absolute;
  fill: #33aa33;
  width: 20px;
  right: 4px;
  top: 9px;
  visibility: hidden;
}

.clickable {
  cursor: pointer;
  filter: brightness(0.5);
  transition: filter 0.5s;
}

.clickable:hover {
  filter: brightness(1);
}

.visible {
  visibility: visible;
}
