.input-box {
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 5px;
  width: 100px;
  font-size: 14px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-width: 64px;
  line-height: 36px;
  padding: 0 8px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  background: white;
  visibility: hidden;
  opacity: 0;
  //Fixes touch screen scrolling bug for elements with tooltips https://github.com/angular/components/issues/4892
  touch-action: auto !important;
}

.input-box.required {
  visibility: visible;
  opacity: 1;
}
