<div class="container">
  <div class="button-column">
    <div *ngFor="let primaryArg of primaryArgs">
      <commands-ui-single-primary-arg-button
        [primaryArg]="primaryArg"
        [active]="isActive(primaryArg)"
        (click)="toggleActivePrimaryArg(primaryArg)"
      ></commands-ui-single-primary-arg-button>
    </div>
  </div>
  <div class="input-column">
    <div *ngFor="let primaryArg of primaryArgs">
      <commands-ui-single-primary-arg-input
        [style.visibility]="getInputVisibility(primaryArg)"
        [style.opacity]="getInputOpacity(primaryArg)"
        (valueChange)="setArgValue(primaryArg, $event)"
      ></commands-ui-single-primary-arg-input>
    </div>
  </div>
</div>
