<div class="container">
  <div class="button-column">
    <div *ngFor="let pair of primaryArgValuePairs">
      <commands-ui-single-primary-arg-button
        [primaryArg]="pair.arg"
        [active]="pair.active"
        (click)="toggleActivePrimaryArg(pair)"
      ></commands-ui-single-primary-arg-button>
    </div>
  </div>
  <div class="input-column">
    <div *ngFor="let pair of primaryArgValuePairs">
      <commands-ui-single-primary-arg-input
        [style.visibility]="getInputVisibility(pair)"
        [style.opacity]="getInputOpacity(pair)"
        (valueChange)="setArgValue(pair, $event)"
      ></commands-ui-single-primary-arg-input>
    </div>
  </div>
</div>
