.container {
  display: flex;
  flex-direction: row;
}

.main-header {
  box-sizing: border-box;
  text-align: center;
  margin-top: 1px;
  margin-bottom: 1px;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  line-height: 36px;
  padding: 0 8px;
}

.button-column {
  display: flex;
  flex-direction: column;
}

.input-column {
  display: flex;
  flex-direction: column;
}

commands-ui-single-primary-arg-input {
  transition: visibility 0.2s, opacity 0.2s;
}
