.container {
  display: flex;
  flex-direction: row;
}

.button-column {
  display: flex;
  flex-direction: column;
}

.input-column {
  display: flex;
  flex-direction: column;
}

commands-ui-single-primary-arg-input {
  transition: visibility 0.2s, opacity 0.2s;
}
