@import "../../../variables.scss";

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  max-height: 130px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-color: $gray-light1 $gray-dark1;
  scrollbar-width: thin;
  padding-right: 18px;
}

.container::-webkit-scrollbar {
  width: 10px;
  background-color: $gray-dark1;
}

.container::-webkit-scrollbar-track-piece {
  border-radius: 10px;
  background-color: $gray-dark1;
}

.container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $gray-light1;
}

.line-container {
  display: flex;
  align-items: center;
}

.output-box {
  width: 100%;
  color: $gray-light1;
  font-size: 18px;
  font-weight: 400;
  font-family: inherit;
  border: 0;
  border-radius: 6px;
  outline: 0;
  background: $gray5;
  padding: 0 0 0 2px;
  flex-grow: 1;
  border: 2px solid transparent;
  cursor: text;
}

.active-line {
  border: 2px solid $gray-light1;
}

.minus-button {
  position: relative;
  left: 4px;
  fill: #aa3333;
  width: 20px;
  left: 2px;
}

.plus-button {
  position: relative;
  left: 4px;
  fill: #33aa33;
  width: 20px;
}

.clickable {
  cursor: pointer;
  filter: brightness(0.5);
  transition: filter 0.5s;
}

.clickable:hover {
  filter: brightness(1);
}
