@import "../../../variables.scss";

//Overrides the dialog style
::ng-deep .dice-roll-builder-dialog {
  mat-dialog-container {
    color: white;
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    border-radius: 20px;
    background-color: $gray5;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-spacer {
  flex-grow: 1;
}

.roll-string {
  width: 100%;
}

.dice-d {
  margin: 0;
}

.backspace-icon {
  width: 25px;
}
