@import "../../variables.scss";

.container {
  display: flex;
  position: relative;
  padding: 32px 0 0 0;
}

.top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 0;
  left: 10px;
}

.output-box-container {
  position: relative;
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  background: $gray5;
}

.output-box {
  width: calc(100% - 38px);
  color: $gray-light1;
  font-size: 18px;
  font-weight: 400;
  font-family: inherit;
  border: 0;
  outline: 0;
  background: $gray5;
}

.multiline-button {
  position: relative;
  top: 1px;
  width: 25px;
  stroke: black;
}

.alias-button {
  position: relative;
  width: 25px;
  left: 10px;
}

.alias-input {
  position: relative;
  left: 20px;
  width: 70px;
  height: 20px;
  font-size: 12px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 0 8px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  background: $gray5;
  color: $gray-light1;
  visibility: hidden;
  opacity: 0;
}

.alias-inline-tip {
  position: relative;
  left: 30px;
  font-size: 12px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  color: $gray-light1;
}

.copy-button {
  position: absolute;
  top: 2px;
  right: 7px;
  width: 30px;
}

.clickable {
  cursor: pointer;
  background-color: transparent;
  transition: filter 0.5s, fill 0.5s, stroke 0.5s;
}

.clickable:hover {
  filter: drop-shadow(0 0 20px $glowy-blue);
  fill: $glowy-blue;
  stroke: $glowy-blue;
}

.active {
  fill: $gray-light1;
  stroke: $gray-light1;
}
