.container {
  display: flex;
  position: relative;
  width: 100%;
}

.output-box {
  display: flex;
  width: 100%;
  color: #dcddde;
  font-size: 18px;
  font-weight: 400;
  font-family: inherit;
  line-height: 40px;
  padding-left: 8px;
  padding-right: 38px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  background: #36393f;
}

.copy-button {
  position: absolute;
  display: inline;
  width: 30px;
  right: 5px;
  top: 5px;
}
