@import "../../variables.scss";

* {
  box-sizing: border-box;
}

.container {
  user-select: none;
  display: flex;
  position: relative;
  padding: 32px 0 0 0;
}

.top-bar {
  user-select: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  width: calc(100% - 38px);
  top: 0;
  left: 24px;
}

.output-box-container {
  user-select: none;
  position: relative;
  width: 100%;
  padding: 5px 0;
}

.output-box-background {
  user-select: none;
  position: absolute;
  top: 0;
  left: 24px;
  width: calc(100% - 38px);
  height: 100%;
  border-radius: 4px;
  background: $gray5;
}

.output-box {
  position: relative;
  width: calc(100% - 52px);
  left: 28px;
  color: $gray-light1;
  font-size: 18px;
  font-weight: 400;
  font-family: inherit;
  border: 0;
  outline: 0;
  background: $gray5;
  padding: 0;
  padding-left: 4px;
}

.multiline-button {
  position: relative;
  top: 1px;
  width: 26px;
  stroke: hsl(220, 8%, 35%);
}

.alias-button {
  position: relative;
  width: 26px;
  left: 10px;
  fill: hsl(220, 8%, 35%);
}

.active {
  fill: $gray-light1;
  stroke: $gray-light1;
}

.alias-input {
  position: relative;
  left: 20px;
  width: 75px;
  height: 20px;
  font-size: 12px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 0 8px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  background: $gray5;
  color: $gray-light1;
  visibility: hidden;
  opacity: 0;
}

.flex-spacer {
  flex: 1;
}

.refresh-button {
  position: relative;
  right: 10px;
  width: 26px;
  visibility: hidden;
  opacity: 0;
  fill: $gray-light1;
  stroke: $gray-light1;
}

@keyframes pulse {
  50% {
    filter: drop-shadow(0 0 15px hsl(180, 100%, 40%));
  }
}

.copy-button-backdrop {
  position: relative;
  animation: pulse 4s infinite 2s;
}

.copy-button-backdrop:hover {
  animation: none;
}

.copy-button {
  position: relative;
  top: 1px;
  width: 26px;
  fill: $gray-light1;
  stroke: $gray-light1;
}

.clickable {
  cursor: pointer;
  background-color: transparent;
  transition: filter 0.5s, fill 0.5s, stroke 0.5s;
}

.clickable:hover {
  filter: drop-shadow(0 0 20px $glowy-blue);
  fill: $glowy-blue;
  stroke: $glowy-blue;
}

commands-ui-multiline-output {
  position: relative;
}
