<div class="background"></div>
<div class="commands-ui-container">
  <div class="button-area-container">
    <div class="button-area">
      <!-- Module buttons -->
      <div class="column-container">
        <h4>MODULES</h4>
        <div class="button-column">
          <commands-ui-module-buttons
            [modules]="getModules()"
            [activeModule]="activeModule"
            (activeModuleChange)="setActiveModule($event)"
          >
          </commands-ui-module-buttons>
        </div>
      </div>
      <!-- Commands Buttons -->
      <div
        *ngIf="areCommands()"
        class="column-container"
        [@fadeIn]="commandsFadingIn"
        (@fadeIn.done)="commandsFadeInDone($event.toState)"
        [@fadeOut]="commandsFadingOut"
        (@fadeOut.done)="commandsFadeOutDone($event.toState)"
      >
        <h4>COMMANDS</h4>
        <div class="button-column">
          <commands-ui-command-buttons
            [commands]="getCommands()"
            [activeCommand]="activeCommand"
            (activeCommandChange)="setActiveCommand($event)"
            [activeSubcommand]="activeSubcommand"
            (activeSubcommandChange)="setActiveSubcommand($event)"
          ></commands-ui-command-buttons>
        </div>
      </div>
      <!-- Primary Arg Buttons -->
      <div
        *ngIf="arePrimaryArgs()"
        class="column-container"
        [@fadeIn]="primaryArgsFadingIn"
        (@fadeIn.done)="primaryArgsFadeInDone($event.toState)"
        [@fadeOut]="primaryArgsFadingOut"
        (@fadeOut.done)="primaryArgsFadeOutDone($event.toState)"
      >
        <h4>PRIMARY ARGUMENTS</h4>
        <div class="button-column">
          <commands-ui-primary-arg-buttons
            [primaryArgValuePairs]="primaryArgValuePairs"
            (primaryArgValuePairsChange)="setPrimaryArgValuePairs($event)"
          >
          </commands-ui-primary-arg-buttons>
        </div>
      </div>
      <!-- Secondary Arg Buttons -->
      <div
        *ngIf="areSecondaryArgs()"
        class="column-container"
        [@fadeIn]="secondaryArgsFadingIn"
        (@fadeIn.done)="secondaryArgsFadeInDone($event.toState)"
        [@fadeOut]="secondaryArgsFadingOut"
        (@fadeOut.done)="secondaryArgsFadeOutDone($event.toState)"
      >
        <h4>SECONDARY ARGUMENTS</h4>
        <div class="button-column">
          <commands-ui-secondary-arg-buttons
            [secondaryArgValuePairs]="secondaryArgValuePairs"
            (secondaryArgValuePairsChange)="setSecondaryArgValuePairs($event)"
          >
          </commands-ui-secondary-arg-buttons>
        </div>
      </div>
    </div>
  </div>
  <commands-ui-output-area
    [commandString]="getCommandString()"
  ></commands-ui-output-area>
</div>
