<div class="background"></div>
<div class="commands-ui-page">
  <div class="container">
    <div class="commands-ui-button-area">
      <div class="button-column">
        <h4>MODULES</h4>
        <commands-ui-module-buttons
          [modules]="getModules()"
          [activeModule]="activeModule"
          (activeModuleChange)="setActiveModule($event)"
        >
        </commands-ui-module-buttons>
      </div>
      <div class="button-column">
        <h4>COMMANDS</h4>
        <commands-ui-command-buttons
          [commands]="getCommands()"
          [activeCommand]="activeCommand"
          (activeCommandChange)="setActiveCommand($event)"
          [activeSubcommand]="activeSubcommand"
          (activeSubcommandChange)="setActiveSubcommand($event)"
        ></commands-ui-command-buttons>
      </div>
      <div class="button-column">
        <h4>ARGUMENTS</h4>
        <commands-ui-primary-arg-buttons
          [primaryArgs]="getPrimaryArguments()"
          [activePrimaryArgs]="activePrimaryArgs"
          (activePrimaryArgsChange)="setActivePrimaryArgs($event)"
        >
        </commands-ui-primary-arg-buttons>
      </div>
    </div>
    <div class="output-area">
      <commands-ui-output-area
        [commandString]="getCommandString()"
      ></commands-ui-output-area>
    </div>
  </div>
</div>
