@import "../_variables.scss";

.background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: $black;
  z-index: -999;
}

.commands-ui-page {
  background: $black;
  font-family: $font;
  color: white;
}

.commands-ui-button-area {
  display: flex;
  flex-direction: row;
  overflow: auto;
  height: 75vh;
}

.button-column {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.output-area {
  padding: 16px;
}

.button-column h4 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 6px;
  margin-left: auto;
  margin-right: auto;
}
