@import "../../../variables.scss";

::ng-deep .commands-ui-settings-dialog {
  //Sets dialog position
  margin-top: 130px !important;
  //Calc to keep dialog top right of CONTENT - depends on content max-width
  --max-width: 90rem;
  //diff between viewport and content max-width
  --diff: calc(100vw - var(--max-width));
  //0px if viewport is smaller, else 1/2 the diff
  --offset: calc(max(var(--diff), 0px) / 2);
  margin-right: calc(45px + var(--offset)) !important;

  mat-dialog-container {
    color: white;
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    border-radius: 20px;
    padding: 10px;
    background-color: $gray5;
  }
}

.setting {
  display: flex;
  justify-content: space-between;
  width: 125px;
  padding: 10px;
}

.setting-label-input {
  line-height: 20px;
}

.setting-label-toggle {
  line-height: 24px;
}
