button {
  margin-top: -2px;
  margin-bottom: -2px;
  width: 100%;
  text-shadow: 2px 2px 2px black;
  min-height: 0;
  flex-basis: 0;
  color: white;
  //Fixes touch screen scrolling bug for elements with tooltips https://github.com/angular/components/issues/4892
  touch-action: auto !important;
}
