<div *ngFor="let command of commands">
  <commands-ui-single-command-button
    [command]="command"
    [active]="isActive(command)"
    (click)="toggleActiveCommand(command)"
  ></commands-ui-single-command-button>
  <div *ngIf="isActive(command) && command.subcommands.length != 0">
    <commands-ui-subcommand-buttons
      [subcommandsGrowing]="subcommandsGrowing"
      (subcommandsGrowDoneEmitter)="subcommandsGrowDone($event)"
      [subcommandsShrinking]="subcommandsShrinking"
      (subcommandsShrinkDoneEmitter)="subcommandsShrinkDone($event)"
      [subcommands]="getSubcommands()"
      [activeSubcommand]="activeSubcommand"
      (activeSubcommandChange)="setActiveSubcommand($event)"
    ></commands-ui-subcommand-buttons>
  </div>
</div>
