input {
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 5px;
  width: 20px;
  font-size: 14px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  line-height: 20px;
  padding: 0 8px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  background: white;
}
