$just-blue: (
  50: #0033aa,
  100: #0033aa,
  300: #0033aa,
  200: #0033aa,
  400: #0033aa,
  500: #0033aa,
  600: #0033aa,
  700: #0033aa,
  800: #0033aa,
  900: #0033aa,
  A100: #0033aa,
  A200: #0033aa,
  A400: #0033aa,
  A700: #0033aa,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  ),
);
