@import "~@angular/material/theming";
@import "./app-theme";
@import "_colors.scss";

// Include material core styles.
@include mat-core();

// Define the dark theme.
$primary: mat-palette($just-black);
$accent: mat-palette($just-yellow);

$theme: mat-dark-theme($primary, $accent);
@include angular-material-theme($theme);
@include avr-app-theme($theme);
