@import "~@angular/material/theming";
@import "./app-theme";
@import "_colors.scss";

// Include material core styles.
@include mat-core();

// Define the dark theme.
$primary: mat-palette($just-blue);
$accent: mat-palette($just-blue);

$theme: mat-dark-theme($primary, $accent);
@include angular-material-theme($theme);
@include avr-app-theme($theme);
