@import "../../_variables.scss";

.container {
  position: absolute;
  right: 40px;
  top: 0;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: $gray-dark1;
  padding: 10px;
}

svg {
  position: absolute;
  width: 22px;
  top: 6px;
  right: 7px;
  padding: 10px;
  cursor: pointer;
  fill: $gray-light1;
}
