<div class="button-input-container">
  <div class="button-column">
    <div *ngFor="let pair of secondaryArgValuePairs; index as i">
      <div class="category-header" *ngIf="isFirstOfCategory(i)">
        {{ pair.arg.category.name }}
      </div>
      <commands-ui-single-secondary-arg-button
        [secondaryArg]="pair.arg"
        [active]="pair.active"
        (click)="toggleActiveSecondaryArg(pair)"
      ></commands-ui-single-secondary-arg-button>
    </div>
  </div>
  <div class="input-column">
    <div *ngFor="let pair of secondaryArgValuePairs; index as i">
      <!-- Hidden input element next to header -->
      <commands-ui-single-secondary-arg-input
        *ngIf="isFirstOfCategory(i)"
        [isHeader]="true"
      ></commands-ui-single-secondary-arg-input>
      <commands-ui-single-secondary-arg-input
        [valueType]="pair.arg.valueType"
        [style.visibility]="getInputVisibility(pair)"
        [style.opacity]="getInputOpacity(pair)"
        (valueChange)="setArgValue(pair, $event)"
      ></commands-ui-single-secondary-arg-input>
    </div>
  </div>
</div>
